SUPABASE_URL=https://irrlqwgzwigohrkbapji.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imlycmxxd2d6d2lnb2hya2JhcGppIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODgyMDcyMSwiZXhwIjoyMDk0Mzk2NzIxfQ.tslh3uyoqqF15cRq-SKY0v_EZOANV75f1YaxUlVQYg0
GEMINI_API_KEY=AIzaSyB9vnfXKX_XmX1zA8183uz8kvYYJm0xukI
GEMINI_MODELS=gemini-2.0-flash-lite,gemini-2.0-flash
